.image-container {
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    position: relative;
}

.prev,
.next {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    transition: 0.6s ease;
}

.next {
    z-index: 30;
    top: -15px;
    left: -30px;
}

.prev {
    z-index: 30;
    top: -15px;
}

.prev:hover,
.next:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-container::-webkit-scrollbar {
    display: none;
}